# Spark Exercises

### 1.) Create a spark data frame that contains your favorite programming languages.

- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

In [3]:
import pyspark

import pandas as pd
import numpy as np

In [4]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [8]:
np.random.seed(456)

pandas_dataframe = pd.DataFrame(
    dict(language=np.random.choice(list("ESFI"), 20))
)
pandas_dataframe

   language
0         I
1         S
2         I
3         S
4         F
5         I
6         E
7         F
8         I
9         F
10        E
11        S
12        E
13        S
14        S
15        E
16        I
17        S
18        I
19        E

In [7]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[language: string]

In [9]:
df.show(5)

+--------+
|language|
+--------+
|       s|
|       i|
|       c|
|       n|
|       t|
+--------+
only showing top 5 rows

In [10]:
df.describe()

DataFrame[summary: string, language: string]

In [11]:
df.describe().show()

+-------+--------+
|summary|language|
+-------+--------+
|  count|      20|
|   mean|    null|
| stddev|    null|
|    min|       I|
|    max|       t|
+-------+--------+